**/plant_guard_env/

**/__pycache__/
**/*.pyc
**/*.pyo

**/.vscode/
**/.idea/

# add backend/dataset/plantGuard and backend/dataset/SVMTrain to .gitignore
backend/dataset/plantGuard_dataset/
backend/dataset/SVMTrain/
