**/plant_guard_env/

**/__pycache__/
**/*.pyc
**/*.pyo

**/.vscode/
**/.idea/

# add backend/dataset/plantGuard and backend/dataset/SVMTrain to .gitignore
backend/dataset/plantGuard_dataset/
backend/dataset/SVMTrain/

*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.gif
*.GIF
*.bmp
*.BMP
*.tif
*.TIF
*.tiff
*.TIFF
*.svg
*.SVG
*.eps
*.EPS