streamlit==1.35.0
altair
tornado==6.4
toolz==0.12.1
tenacity==8.3.0
GitPython==3.1.43
gitdb==4.0.11
smmap==5.0.1
pydeck==0.9.1
rich==13.7.0
markdown-it-py==3.0.0
mdurl==0.1.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
referencing==0.35.1
rpds-py==0.18.1
cachetools==5.3.3
attrs
validators==0.28.1
watchdog==4.0.1
absl-py==2.1.0
astunparse==1.6.3
flatbuffers==24.3.25
gast==0.6.0