<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlCFpEFM3hR89oT50356f0YcX5feL4VFg</string>
	<key>GCM_SENDER_ID</key>
	<string>753586915079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps.plantguard</string>
	<key>PROJECT_ID</key>
	<string>vipitransport</string>
	<key>STORAGE_BUCKET</key>
	<string>vipitransport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753586915079:ios:ab1521c04a7621168ee7a2</string>
</dict>
</plist>